$contentBackground: ('../img/m-h-day.jpg');
$buttonColor: yellowgreen;
$BodyBackgroundColor: white;
$GradientColorLeft:yellowgreen;
$GradientColorRight: blue;
$ColorAwesome: blue;
$BoxColor: black;
$fontColor: black;

 