$contentBackground: ('../img/m-h-night.jpg');
$buttonColor: orange;
$BodyBackgroundColor: black;
$GradientColorLeft:orange;
$GradientColorRight: darkred;
$ColorAwesome: orange;
$BoxColor: grey;
$fontColor: white;