nav.tm-main-nav {
  background-color: white;
}
li.tm-nav-item:hover{
  background-color: lightskyblue;
}
a.tm-nav-item-link:hover {
    color: #fff;
}



.tm-banner { 
    border-style: solid; 
    border-width:25px; 
    border-image: linear-gradient(to right, lightskyblue , burlywood ); 
    border-image-slice: 1;
 }
 .tm-banner-inner {
     border: none;
    }



p.tm-banner-text {
        text-shadow:2px 2px #333;
    }




p.tm-banner-text {  
  position: relative;  
  animation-name: mymove;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes mymove {
  from {
      left: 200px;
    }
  to {
      left: 0px;
    }
}



.flex-2-col {
    display: flex;
}
.flex-item  {
    flex-grow: 2;
}
.tm-content-box .tm-team-description-container {
padding-top: 150px;
 text-align: center; 
}



.box-bg:hover  {             
    background-color:lightgrey ;    
      }
.tm-box-bg-title:hover {
        color:lightskyblue;
    }

    
.heading h2 {
    color: lightskyblue;
    text-align: center;
}
     
.heading li { 
         list-style:none;
         list-style-type: lower-alpha;
        }

.heading li:first-child::before{
            content: ">";
        }
.heading li:first-child::after,
.heading li:nth-child(3)::after {
               content: "New";
                color:red;
                margin-top: 5px;
                font-variant: small-caps;                
                 font-weight: bold;
                 vertical-align: super;
                 font-size: small;
                 
                } 

              

    
    
.blocks.tm-team-description-container h2 {
    text-align: left;
}
.blocks  .tm-section-description:nth-child(3) {
         font-style: italic; 
         letter-spacing: 5px;
         word-spacing: 10px;
        }
     
    
     
.blocks .box.box-work p::first-letter {
         font-weight: bold;
        }
.blocks p {
         font-style: italic;
        }
.box.box-work   {
           padding: 10px;
        }
.box.box-work:first-child {
            background-color: lightskyblue;
        }
.box.box-work:nth-child(3) {
            background-color: lightskyblue;
        }
.box.box-work:nth-child(5) {
            background-color: lightskyblue;
        }

        

.tm-section-description {
    line-height: 30px; white-space: 25px;
}



  
.form-control{
    border: 1px solid  lightskyblue;
} 
#contact_email {
    border-right: 0px ;
    border-left: 0px ;
    border-top: 0px ;
}
#contact_name {
    border-right: 0px ;
    border-left: 0px ;
    border-top: 0px ;
}
#contact_subject {
    border-right: 0px ;
    border-left: 0px ;
    border-top: 0px ;
}
.submit-btn {  
      position: absolute;  
      right: 250px;  
      background-color: white;
      color: lightskyblue;
      border: 1px solid  lightskyblue;
      font-size: 15px;
}
input:focus {
    background-color: lightskyblue ;
}
#contact_message {
    background-image: url("../img/email-icon.png");
    background-repeat:no-repeat;
    background-position-x:  right;
    background-position-y: bottom;
background-size: 32px;
}



.tm-content-box {
    box-shadow: 2px 2px rgba(61, 55, 61, 0.7);
}
.tm-main-nav {
    box-shadow: 2px 2px rgba(61, 55, 61, 0.7);
}
.submit-btn {right:50px}




.tm-content-box {
    position: relative;
}
.tm-content-header:first-child::after  {
    display: none;
}
.tm-content-box:first-child::after 
{
  width: 0px; 
	height: 0px; 
	border-top: 50px solid lightskyblue;  
	border-right: 50px solid transparent;     
    left: 0px;
	font-size: 0;
    line-height: 0;    
    content: '';
    position: absolute;
    top: 0px;
}



 
 @media  print {
.tm-main-content  {
    padding-top: 0px;
}
.carousel {
    padding: 0px;
}
.padding-medium {
    padding: 0px;
}
div.tm-team-description-container {
    text-align: center;
    max-width: none;
}
 div.tm-team-img {
     text-align: center;
    }
 .tm-content-box h2 {
     color: lightskyblue;
     text-align: center;
    }
 .heading li { 
     list-style:none;     
    align-items: center;
}
.heading ol {
    width: 50%;text-align: center;
}

.blocks p:nth-child(3) {
    font-style: italic; 
    letter-spacing: 3px;
}
.tm-main-nav {
    display: none;
}
.tm-team-img, .img-fluid  {
    display: none;
}
.tm-banner {
    border-image: none;  
    border-width:1px;
    border-color: lightgrey;
    }
.tm-banner-text {
    animation: none;
}

.heading li:first-child::before{
            content: none;
        }

.heading li:first-child::after,.heading li:nth-child(3)::after {
               content: none;               
                 
                } 
.heading ol {margin: auto;}
.heading li:nth-child(1),.heading li:nth-child(3),.heading li:nth-child(5),.heading li:nth-child(7) {
    text-align: right;
}
.heading li:nth-child(2),.heading li:nth-child(4),.heading li:nth-child(6) {
    text-align: left;
}
                
                


.tm-content-box .tm-team-description-container {
padding-top: initial;
}
.box-work, #contact {
    display: none;
}
.tm-content-box:first-child::before {
    display: none;
}
}
  

